.lib {
    display: flex;
    flex-wrap: wrap;
}
.lib > div {
    flex: 50%;
}
.book img {
    max-width: 200px;
}
.book p {
    max-width: 200px;
}
a:link { 
    text-decoration: none;
    color: black;
}
* {
    margin: 0;
    padding: 0;
}