.lib {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}
.lib > div {
    max-width: 200px;
    border: 1px solid black;

}
.book img {
    max-width: 200px;
    border: 1px solid black;

}
.book p {
    display: flex;
    justify-content: center;
    border: 1px solid black;

}
a:link { 
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}