
    /* icons */
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 0,
        'GRAD' 0,
        'opsz' 24
    }
    /* font */
    .cormorant-garamond-light {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    a:link { 
        text-decoration: none; 
    }
    body {
        background-color: #f8fbfd;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }
    /* Стилізація кнопок */
    .btn {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        color: #1f1e1e;
        background-color: #fefeff;
        width: 100%;
        border-radius: 5px;
        padding: 22px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-size: 22px;
    }
    .links {
        margin-top: 40px;
        display: flex;
        justify-content: space-around; 
    }